{% extends "base.html" %}

{% block page_content %}

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
        <style>
            canvas{
            }
        </style>
    </head>
    <body>
        <canvas id="canvas1" height="300" width="400" ></canvas>
        <canvas id="canvas2" height="300" width="300" class="pull-right"></canvas>

    <script src="../static/js/chart.js"></script>
    </body>
{% endblock %}
