{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}



          <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
         <img src="/static/flask.png" class="img-rounded">
         <div class="page-header">
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>
        <p>What do Flask Apps look like?</p>
             <ul>
                 <li class="text-info">If you are looking for some example code of applications written with </li>
                 <li class="text-danger">Flask, have a look at the sources of the examples on github: </li>
                 <li>support for secure cookies (client side sessions)</li>
             </ul>
        <p>
          <a class="btn btn-lg btn-info" href="#" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
    </div> <!-- /container -->

        <address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">mailto@somedomain.com</a>
</address>
{% endblock %}
