{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <img src="/static/flask.png" class="img-rounded">
    <div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form) }}
    <div class="page-header">
     </div>
    <h4 class="text-nowrap">Hello, {{ user_agent }}!</h4>
    <ul>
    <li class="text-info">The local date and time is {{ moment(current_time).format('LLL') }}.</li>
    <li class="text-danger">That was {{ moment(current_time).fromNow(refresh=True) }}</li>
    </ul>
        <address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">mailto@somedomain.com</a>
</address>
{% endblock %}
