{% extends "base.html" %}

{% block page_content %}



          <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
         <img src="/static/flask.png" class="img-rounded">
         <div class="page-header">
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-info" href="#" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
    </div> <!-- /container -->


    <ul>
    <li class="text-info">The local date and time is {{ moment(current_time).format('LLL') }}.</li>
    <li class="text-danger">That was {{ moment(current_time).fromNow(refresh=True) }}</li>
    </ul>
        <address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">mailto@somedomain.com</a>
</address>
{% endblock %}
